{
	auto_https disable_redirects
	http_port 8080
	https_port 41343
	local_certs
}

motis.test {
	reverse_proxy 127.0.0.1:8421
}

exampleportal.test:8080, *.exampleportal.test:8080, exampleportal.test, *.exampleportal.test {
	reverse_proxy 127.0.0.1:8081
}

childcarecrm.test:8080, childcarecrm.test {
	reverse_proxy 127.0.0.1:8082
}
